body {
    max-width: 35%;
    min-width: 15%;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 25px;
    border: 2px solid #ffffff;
    padding: 20px;

}

#locData
{
    font-size: large;
    padding-bottom: 5px;
    font-weight: bold;
}

#tempResult
{
    font-size: xx-large;
}
#hiLoResult
{
    font-size: x-large;
}

#descResult
{
    padding: 5px;
    font-size: medium;
}

#searchSec
{
    padding-top: 25px;
}

#submitSec
{
    padding: 3px;
}